body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 10px;
}
